.main__about {
  color: white;
  font-size: large;
  margin: 1rem;
  padding: 1rem;
}

.main__about a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.main__about a:hover {
  color: greenyellow;
}

.home__img {
  height: 50%;
  width: 100%;
  padding: 5px;
  display: flex;
}

.home__img img {
  border-radius: 50%;
  width: 50%;
  max-width: 300px;
  object-fit: contain;
  margin: auto;
  border: solid 3px white;
  box-shadow: 10px 15px 15px rgba(0, 0, 0, 0.3);
}

.home__img img:hover {
  opacity: 0.4;
  cursor: pointer;
}

.main__about p {
  font-size: 26px;
  max-width: 900px;
}

.university {
  width: 100%;
  display: flex;
  justify-content: space-between;
}