 /* * {
   border: solid red 1px;
 } */

 .home {
   width: 100%;
   height: 100%;
   display: flex;
   color: white;
   flex-direction: column;
 }

 .presentation {
   font-size: 58px;
   text-align: center;
   margin: 3rem;
   font-family: 'Share Tech Mono', monospace;
   color: greenyellow;
 }

 .pres-content {
   margin: auto;
 }

 .blink {
   animation: blinker 1s linear infinite;
 }

 .tech {
   text-align: center;
   font-family: 'Quicksand', sans-serif;
 }

 .under-paragraph{
  margin: 5rem;
  font-size: 24px;
  max-width: 1000px;
 }

 @keyframes blinker {
   50% {
     opacity: 0;
   }
 }

 @media only screen and (max-width: 900px) {
   .home {
     overflow-x: hidden;
   }

   .presentation {
     min-height: 150px;
   }
 }