/* * {
   border: solid red 1px;
 } */

* {
  -webkit-font-smoothing: antialiased;
  text-rendering: geometricPrecision;
}

.home {
  width: 100%;
  height: 100%;
  display: flex;
  color: white;
  flex-direction: column;
  overflow-y: hidden;
}

.presentation {
  text-align: center;
  color: greenyellow;
  text-transform: uppercase;
  display: flex;
  height: 200px;
}

.pres-content {
  font-size: 48px;
  margin: auto;
}

.blink {
  animation: blinker 1s linear infinite;
}

.tech {
  text-align: center;
  font-family: "Quicksand", sans-serif;
  margin: 1rem;
}

.tech-title {
  font-size: large;
  text-transform: uppercase;
  text-align: center;
  display: flex;
  margin-inline: auto;
  margin-bottom: 2rem;
}

.chevron{
  padding: 1px;
}

.tech-container {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.tech-container img {
  height: 50px;
}

.under-paragraph {
  margin: 5rem 1rem 5rem 1rem;
  font-size: 24px;
  max-width: 1000px;
}

.socials {
  margin: 5rem;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

@media only screen and (max-width: 900px) {
  .home {
    overflow-x: hidden;
  }

  .under-paragraph {
    font-size: 20px;
  }

  .pres-content {
    font-size: 28px;
  }

  .tech-title{
    font-size: medium;
  }
}
