.header-nav {
  margin: auto;
}

.header-nav a {
  text-decoration: none;
  margin: 1rem;
  color: white;
  font-size: larger;
}

.header-nav a:hover {
  color: greenyellow;
  transition: 0.2s ease-in;
  border-color: greenyellow;
}

@media only screen and (max-width: 900px) {
  .header-nav {
    display: flex;
    flex-direction: column;
    height: 100%;
    background: black;
    margin: auto;
  }

  .header-nav a {
    color: white;
    border-bottom: 1px solid white;
    padding: 1rem;
  }
}
