.projects-list {
  color: white;
  margin: 1rem;
  padding: 1rem;
}

.projects-list li {
  padding: 7px;
}

.frontend {
  font-family: "Cedarville Cursive", cursive;
  color: white;
  font-size: 18px;
}

.backend {
  font-family: "Orbitron", sans-serif;
  color: white;
  font-size: 12px;
}

.projects-list a {
  text-decoration: none;
  color: khaki;
}

.projects-list a:hover {
  color: greenyellow;
}

.projects-list ul {
  list-style-type: "🔰 ";
}

.projects-list h1 {
  margin-inline: auto;
  text-align: center;
  font-size: 36px;
}

.project-cards {
  display: flex;
  flex-direction: row;
}

@media only screen and (max-width: 900px) {
  .project-cards {
    flex-direction: column;
    align-items: center;
  }
  h3{
    text-align: center;
  }
}
