.projects-list {
  color: white;
  margin: 1rem;
  padding: 1rem;
}

.projects-list li {
  padding: 7px;
}

.frontend {
  font-family: "Cedarville Cursive", cursive;
  color: white;
  font-size: 18px;
}

.backend {
  font-family: "Orbitron", sans-serif;
  color: white;
  font-size: 12px;
}

.projects-list a {
  text-decoration: none;
  color: greenyellow;
}

.projects-list a:hover {
  color: greenyellow;
}

.projects-list ul {
  list-style-type: "🔰 ";
}

.projects-list h1 {
  margin-inline: auto;
  text-align: center;
  font-size: 36px;
}

.project-cards {
  width: 80%;
  gap: 20px;
  margin-inline: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.projects-list h2 {
  background-color: white;
  color: black;
  text-transform: uppercase;
  font-style: italic;
  padding: 10px;
  width: 25%;
  border-top-right-radius: 1rem;
  border-end-end-radius: 1rem;
}

@media only screen and (max-width: 900px) {
  .projects-list h2 {
    text-align: center;
    width: 75%;
  }
}
