.projects-list {
  color: white;
  margin: 1rem;
  padding: 1rem;
}

.projects-list li {
  padding: 7px;
}

.frontend {
  font-family: "Cedarville Cursive", cursive;
  color: lightcoral;
  font-size: 22px;
}

.backend {
  font-family: "Orbitron", sans-serif;
  color: darkgoldenrod;
  font-size: 15px;
}

.projects-list a {
  text-decoration: none;
  color:cornflowerblue;
}

.projects-list a:hover {
  color: violet;
}

.projects-list ul {
  list-style-type: "🔰 ";
}

.projects-list h1 {
  margin-inline: auto;
  text-align: center;
  font-size: 36px;
}