.sandwich {
  height: 30px;
  width: 40px;
  display: flex;
  flex-direction: column;
  margin: auto;
}
.sandwich div {
  background-color: black;
  height: 5px;
  width: 80%;
  margin: auto;
}

button {
  background-color: white;
  border: 0;
}

button:hover {
  cursor: pointer;
}
